/* ===================================================== */

/* start pop up */
.pop-up-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1500;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

.pop-up-container.active {
  display: block;
}

.pop-up-container.remove {
  animation: removeBox 0.1s linear forwards;
}

.pop-up-container .pop-up-content-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.pop-up-container .pop-up-content-parent .pop-up-content {
  width: 400px;
  height: 300px;
  max-width: 400px;
  padding: 25px;
  border-radius: 5px;
  background: #fff;
  color: #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  position: relative;
  transform: scale(0);
}

.pop-up-container .pop-up-content-parent .pop-up-content.active {
  animation: upperBox 0.2s linear forwards;
}

.pop-up-container .pop-up-content-parent .pop-up-content.remove {
  animation: removeBox 0.05s linear forwards;
}

@keyframes upperBox {
  0% {
      transform: scale(0);
      opacity: 0;
  }

  50% {
      transform: scale(0.5);
      opacity: 1;
  }

  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes removeBox {
  0% {
      transform: scale(1);
      opacity: 1;
  }

  50% {
      transform: scale(0.5);
      opacity: 0.5;
  }

  100% {
      transform: scale(0);
      opacity: 0;
      display: none;
  }
}

.pop-up-container .pop-up-content-parent .pop-up-content #close-rental-car-popup {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  font-weight: bolder;
  cursor: pointer;
  color: #ff5ca3;
  z-index: 10;
}

.pop-up-container .pop-up-content-parent .pop-up-content img {
  width: 95px;
  animation: rotateImg 0.4s 0.1s linear forwards;
  transform: rotate(45deg);
  opacity: 0;
}

@keyframes rotateImg {
  0% {
      opacity: 0;
  }

  30% {
      transform: rotate(-20deg);
      opacity: 1;
  }

  60% {
      transform: rotate(20deg);
      opacity: 1;
  }

  100% {
      transform: rotate(0);
      opacity: 1;
  }
}

.pop-up-container .pop-up-content-parent .pop-up-content p.pop-up-message {
  color: #545454;
  margin-bottom: 15px;
  font-size: 22px;
  text-align: center;
  flex-grow: 1;
  /* text-align: center; */
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.pop-up-container .pop-up-content-parent .pop-up-content div.button-container .pop-up-button {
  background-color: #ff5ca3;
  border-radius: 5px;
  font-size: 19px;
  font-weight: bold;
  padding: 10px;
  color: white;
  margin: 0 5px;
  display: inline-block;
  text-decoration: none;
  outline: none;
  border: none;
}

.pop-up-container .pop-up-content-parent .pop-up-content div p.proceed-message {
  color: #545454;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
}

.pop-up-container .pop-up-content-parent .pop-up-content div .pop-up-button#confirm-pop-up-screen {
  /* display: none; */
  background-color: #25c6da;
}

.pop-up-container .pop-up-content-parent .pop-up-content div .pop-up-button#confirm-pop-up-screen.active {
  display: inline-block !important;
}

.pop-up-container.active {
  display: block;
}
/* end pop up */

#mondu-checkout-widget > div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

.mondu-payment-method-card:first-child {
  border-top: solid 1px #d9d9d9;
}

.mondu-payment-method-card {
  border-bottom: solid 1px #d9d9d9;
  padding: 15px 12px 15px 20px;
  width: 100%;
  cursor: pointer;
}

.active-mondu-payment-method-box .mondu-active-payment-method-description {
  display: block;
}

.mondu-active-payment-method-description {
  background: #E9E2EE;
  border-radius: 6px;
  padding: 12px;
  margin-top: 16px;
  margin-left: 10px !important;
  font-size: 13px;
  font-weight: normal !important;
  display: none;
}

.mondu-active-payment-method-description ul {
  margin: 0;
  padding: 0 0 0 20px;
}
.mondu-active-payment-method-description ul li {
  line-height: 24px;
}
.mondu-payment-method-card.active-mondu-method {
  background: #F9F9F9;
}

.mondu-payment-method-card-body .mondu-checkmark {
  display: none;
}

.active-mondu-method .mondu-checkmark {
  display: block !important;
}

.mondu-payment-method-card-body {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  flex-direction: row;
  gap: 45px;
}

.mondu-payment-method-card:hover {
  background: #F9F9F9;
}

.mondu-payment-method-title {
  font-weight: normal;
    font-size: 12px;
    color: black;
    margin-bottom: 6px;
}

.active-mondu-method .mondu-payment-method-title {
  font-weight: bold;
}
.mondu-payment-method-description {
  color: #3f3f3f;
  font-size: 11px;
  margin-bottom: 0px;
}

.mondu-payment-method-image {
  width: 75px;
}

.mondu-payment-method-box {
  background: #FFFFFF;
  border-radius: 6px;
  border: 1px solid #C9D1D7;
  padding: 16px;
  margin-top: 10px;
}

.mondu-payment-method-box .title, .mondu-payment-method-box .checkout-payment-method-note {
  cursor: pointer;
}

.mondu-payment-method-box:first-child {
  margin-top: 20px;
}

.mondu-payment-method-card-body div:last-child {
  margin-left: auto;
}

.mondu-payment-method-box .custom-control-input:checked ~ .custom-control-label::before {
  color: #FFF;
  border-color: #46086D;
  background-color: #46086D;
}

.mondu-payment-method-box .custom-control-label::before {
  margin-top: 10px;
}

.mondu-payment-method-box .custom-control-label::after {
  margin-top: 10px;
}

.mondu-payment-method-box .custom-control-label span {
  margin-left: 10px;
}

.active-mondu-payment-method-box {
  border: 1px solid #6B398A;
}

#fieldset-payment hr {
  display: none;
}

#fieldset-payment .row .col .card .card-body {
  padding-top: 0px;
}

#fieldset-payment .row .col .card .card-body #pp-plus {
  margin-top: -27px;
}

#fieldset-payment .row .col .card {
  border-top: 0px;
}

.mondu-card .card-body {
  border-bottom: 0px;
  padding-bottom: 0;
}

.mondu-card {
  border-bottom: 0px;
}

.row.checkout-payment-options.form-group {
  margin-top: 30px;
}